{% extends 'base.html' %}
{%block title%}About us{%endblock%}
{%block aboutActive%}active{%endblock%}
{%block content%}
 <section class=" grey-bg  py-4 rounded-5 my-5"style=" margin-top:10rem  !important;"> 
    
    <div class="container mx-auto row ">
        <div class="col-md-6 border border-5 p-5 py-3 rounded-5">
            <h3 class=" fs-2 fw-bold mb-3">ABOUT US</h3>
            <p>
                We are a dynamic community of staff and students with Christian orientation and inspiration who, motivated by the ideals of hard work, integrity, dicipline and creativeness, and dedicated to high moral principles and attitudes, work together to create knowledge for the advancement of the Nigerian society
            </p>
            <p>
                No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences</p>
            </p>
        </div>
        <div class="col-md-6 homepage-img ">
            <img src="/static/images/2students.jpg" alt="" class="rounded-5 ">
        </div>
    </div>
</section>
<section id="contact" class="my-5 ">
    <div class="container ">
        <div class="row text-center">
            <h3 class="fw-bold fs-1 mt-5 pl-3">Get Started</h3>
            <div class="heading-line"></div>
            <p class="lh-lg">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero illum architecto modi.
            </p>
        </div>
        <!-- start the cta content -->
        <div class="row shadow-lg">
            <div class="col-12 col-lg-6 bg-blue-grey-gradient bg-secondary p-5">
                <div class="w-100 text-light">
                    <h4 class="display-4  fw-bold">We Develop Proper Leaders Of Tommorow</h4>
                    <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempora amet placeat! Error sequi dolores eaque voluptates deleniti provident debitis voluptatum?</p>
                    <h3 class="display-3--brief">
                        What Do we Offer?
                    </h3>
                    <ul class="cta-info__list">
                        <li>well Equiped Laboratories.</li>
                        <li>Practical Based Courses and exercises.</li>
                        <li>Sound and condusive environment for Learning.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 bg-white shadow text-center pt-5 p-3">
                <h4 class="display-5 fw-bold p-5 mb-5">Sign Up for Our News Letter</h4>

                <div class="form w-100 pb-2">
                    <form action="#" class="row">
                        <div class="mb-3 col-md col-lg-6">
                            <input type="text" placeholder="First Name" id="inputFirstName" class="shadow form-control form-control-lg ">
                        </div>
                        <div class="mb-3 col-md col-lg-6">
                            <input type="text" placeholder="Last Name" id="inputSecondName" class="shadow form-control form-control-lg ">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <input type="email" placeholder="email address" id="inputEmail" class="shadow form-control form-control-lg ">
                        </div>

                        <div class="text-center d-grid mt-1 ">
                            <button type="button" class="btn bg-blue-grey-gradient rounded-pill pt-3 pb-3 text-light fs-5" id="mybutton">
                                Submit
                                <i class="bi bi-send-fill"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>

{%endblock%}