{%extends 'base.html'%}
{%block title%}Contact Us{%endblock%}
{%block contactActive%}active{%endblock%}
{%block content%}
<div class="container  my-5 pt-5 ">
    <form class="row p-5 my-5 grey-bg rounded-5">
        <h3 class="display-6 lead mb-5 fw-bold">Contact Us</h3>
        <div class="mb-4 col-md-6">
            <label for="first-name ">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Enter First Name" name="first-name">

        </div>
        <div class="mb-4 col-md-6">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control " id="last-name" placeholder="Enter Last Name" name="last-name">

        </div>
        <div class="mb-4  col-12">
            <label for="email">Email</label>
            <input type="text" class="form-control " id="email" placeholder="Enter email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-4  col-12">
            <label for="subject">Subject</label>
            <input type="text" class="form-control " id="subject" placeholder="Enter Subject" name="subject" aria-describedby="emailHelp">
        </div>
        <div class="mb-4 col-12">
            <label for="comment">Message</label>
            <textarea class="form-control " rows="5" id="comment" name="text" placeholder="Comment goes here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary col- rounded-pill">Submit</button>
    </form>
</div>
{%endblock%}